{% if page.title is defined %}
    {% if primary is defined %}
    <h1><a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a></h1>        
    {% else %}
    <h2><a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a></h2>
    {% endif %}
{% endif %}
<hr>
<div class="meta">
    {% if page.description is defined %}
    <p>{{ page.description }}</p>
    {% endif %}

    {% if page.date is defined %}
    <p>Date: <a href="{{ url_for('year', year=page.date.year) }}">{{ page.date|formatdate }}</a></p>
    {% endif %}

    {% if page.kind is defined and nokind is not defined %}
    <p>Kind: <a href="{{ url_for("kind", kind=page.kind) }}">{{ page.kind }}</a></p>
    {% endif %}
    
    {% if page.tags|length %}
    <p> Tags: 
        {% for page_tag in page.meta.tags %}
            <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a>
            {%- if not loop.last %},{% endif %}
        {% endfor %}
    </p>
    {% endif %}
</div>

{% if primary is not defined %}
<hr>
<div class="page-content">
    {% if short(page.html) %}
        {{ page.html|safe }}
    {% else %}
        {{ page.html|excerpt|safe }}
        <p><a href="{{ url_for("page", path=page.path) }}">...</a></p>
    {% endif %}
</div>
{% endif %}