{% if page.title is defined %}
    {% if primary is defined %}
    <h1 class="page-intro-header">
    {% else %}
    <h2 class="stub-header">
    {% endif %}

    <a class="unstyled-link" href=
        {% if page.link %}
            "{{ page.link }}"
        {% else %}
            "{{ url_for("page", path=page.path) }}"
        {% endif %}
    >
        {{ page.title }}
    </a>

    {% if primary is defined %}
    </h1>
    {% else %}
    </h2>
    {% endif %}
{% endif %}
<div class="blurb flex-column">
    <div class="blurb-info flex-row">
        <div class="date">
            {% if page.date is defined %}
                <p><a href="{{ url_for('year', year=page.date.year) }}">{{ page.date|formatdate }}</a></p>
            {% endif %}
        </div>
    </div>
</div>
