html {
    font-size: 14px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex; 
    flex-direction: row;
}

/******************                Variables                ********************/
:root {
    /* fonts */
    --font-weight-standard: 300;
    --font-weight-light: 100;
    --font-weight-heavy: 600;

    /* main */
    --main-flex-direction: row;
    --main-margin-top: 2em;

    /* wrappers */
    --header-order: 1;
    --content-wrapper-order: 2;
    --nav-order: 3;

    /* content */
    --content-margin: 3rem;
    --content-wrapper-width: 600px;

    /* blurb */
    --blurb-width: 60%;

    /* nav */
    --nav-link-text-align: left;
    --nav-link-display: inline;
    --nav-hr-horizonal-margin: 0;
    
    --header-text-align: right;

    --side-column-width: 100px;
    --side-column-margin-top: 0;
}

@media (max-width: 799px) {
    :root {
        --main-flex-direction: column;
        --main-margin-top: 0;

        /* wrappers */
        --content-wrapper-order: 1;
        --header-order: 2;
        --nav-order: 3;

        /* content */
        --content-margin: 1.5em;
        --content-wrapper-width: auto;

        /* blurb */
        --blurb-width: 80%;

        --nav-link-text-align: center;
        --nav-link-display: block;
        --nav-hr-horizonal-margin: auto;

        --header-text-align: center;

        --side-column-width: auto;
        --side-column-margin-top: 1em;
    }
}

body {
    font-family: 'proxima-nova', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: var(--font-weight-standard);
    margin: 0;
}

/******************           Container Stylings                **************/
#main {
    display: flex;
    flex-direction: var(--main-flex-direction);
    margin-top: var(--main-margin-top);
}

#content-wrapper {
    order: var(--content-wrapper-order);
    width: var(--content-wrapper-width);
}

#content {
    margin: var(--content-margin);
}

.side-column {
    width: var(--side-column-width);
    margin-top: var(--side-column-margin-top);
    flex-grow: 1;
}

#pagination {
    justify-content: space-between;
}

div #pagination {
    padding: 1rem;
    margin: 2rem 1rem 1rem 1rem;
}

#pagination {
    justify-content: center;
}

#pagination-separator {
    text-align: center;
    padding: 0;
    margin: 0;
    flex-grow: 0;
    flex-basis: 10%;
}

#pagination div.left {
    text-align: right;
    flex-grow: 1;
    flex-basis: 45%;
}

#pagination div.right {
    flex-grow: 1;
    flex-basis: 45%;
}

/*******************************************************************************
 * links
*******************************************************************************/
a {
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #e4e4e4;
}

.unstyled-link {
    border-bottom: none;
    box-shadow: none;
}

a:hover {
    border-bottom: 1px solid #e4e4e4;
    box-shadow: inset 0 -8px 0 #e4e4e4;
}

/*******************************************************************************
 * header
*******************************************************************************/
#header {
    order: var(--header-order);
}

.header-text {
    text-align: var(--header-text-align);
    margin-bottom: 0;
}

#header-title {
    margin-top: 0;
    font-size: 1.5em;
    font-weight: var(--font-weight-standard);
}

#header-subtitle {
    color: #d4d4d4;
    margin-top: -.5em;
    font-weight: var(--font-weight-heavy);
    font-size: 1em;
}

#header-verb-span {
    color: #000000;
    font-weight: var(--font-weight-light);
}

/*******************************************************************************
 * nav
*******************************************************************************/
#nav {
    order: var(--nav-order);
}

.nav-hr {
    width: 4rem;
    margin: .25rem var(--nav-hr-horizonal-margin);
}

.nav-link-box {
    height: 1.25rem;
    margin: .25rem 0;
}

.nav-link {
    font-size: .85em;
    font-weight: var(--font-weight-light);
    text-align: var(--nav-link-text-align);
    display: var(--nav-link-display);
}

/*******************************************************************************
 * page intro
*******************************************************************************/
#page-intro {
    text-align: center;
    padding: 1.5em 0;
}

#page-intro h1 {
    font-size: 2.5rem;
    font-weight: 200;
}

#page-intro h1 a, #page-intro h1 a:hover {
    border-bottom: none;
    box-shadow: none;
}

#page-intro h3 {
    font-weight: 200;
    font-size: 1rem;
}

.page-intro-header {
    font-size: 2.5em;
    font-weight: var(--font-weight-light);
    margin: 1.5rem var(--content-margin) 0 var(--content-margin);
}

.page-intro-subtitle {
    margin: 0;
    font-weight: var(--font-weight-light);
    font-size: 1em;
    margin-top: 0 !important;
    margin-bottom: 1.5em;
}

.triple-split hr.small {
    width: 1rem;
    margin: 0 auto;
}

.triple-split hr.large {
    width: 3rem;
    margin: .5rem auto;
}

.triple-split hr.small {
    width: 1rem;
    margin: 0 auto;
}

.triple-split hr.large {
    width: 3rem;
    margin: .5rem auto;
}

hr.divider {
    width: 50%;
    margin: 0 auto;
}

#about-split {
    margin-top: var(--content-margin);
    margin-bottom: 2.5rem;
}
/*******************************************************************************
 * stub
*******************************************************************************/
.stub {
    text-align: center;
}

.stub-hr {
    width: 10%;
    /* margin: 2.5rem auto; */
    margin: 1.5rem auto;
}

.stub-header {
    font-weight: var(--font-weight-standard);
    font-size: 1.5em;
    margin: 0;
}

/*******************************************************************************
 * blurb
*******************************************************************************/
.blurb {
    width: var(--blurb-width);
    margin: 0 auto;
}

.blurb p {
    font-size: .8rem;
    margin: 0;
}

.blurb-info {
    order: 1;
    justify-content: space-between;
}

.blurb-context {
    flex-grow: 2;
}

.blurb-context p {
    text-align: left;
    margin: 0;
}

.blurb-description {
    order: 2;
    margin-top: 1.5em;
}

/*******************************************************************************
 * page body
*******************************************************************************/
#page-body p {
    margin: 0 auto;
    text-indent: 2.5rem;
}

#page-body p:first-child {
    margin-top: 0;
}

#page-body p:last-child {
    margin-bottom: 0;
}

#page-body.word-list > p {
    text-align: center;
    margin: 1rem 0;
    text-indent: 0;
}

/*******************************************************************************
 * verse
*******************************************************************************/
p.verse-top,
p.verse-mid,
p.verse-last {
    margin-bottom: 0;
}

p.verse-mid,
p.verse-bot {
    margin-top: 0;
}

p.centered {
    text-align: center;
    text-indent: 0 !important;
}

/*******************************************************************************
 * generic elements
*******************************************************************************/
img {
    max-width: 100%;
    max-height: 100%;
}

ul {
  list-style-type: none;
}

ul > li {
  text-indent: -.5rem;
}

ul > li:before {
  content: "–";
  text-indent: -.5rem;
  margin-right: .5rem;
}

hr {
    background-color: grey;
    width: 40%;
    margin: 2rem auto;
}

.date {
  margin: 0 auto;

}
