{% macro paginate(pagination) %}
    {% if pagination.pages > 1 %}
		<div id="pagination" class="flex-row">
			<div class="left">
				{% if pagination.has_prev %}
					<a href="{{ url_for_other_page(pagination.page - 1) }}">newer</a>
				{% endif %}
			</div>

			<div id="pagination-separator"> | </div>

			<div class="right">
				{% if pagination.has_next %}
					<a href="{{ url_for_other_page(pagination.page + 1) }}">older</a>
				{% endif %}
			</div>
        </div>
    {% endif %}
{% endmacro %}
