{% extends 'base.html' %}

{% block title %}me | hunter (verb){% endblock title %}

{% block content %}
<div id="page-body">
	<p>My name's (Kenneth) Hunter (Wapman). I like to do, think, and create. I find meaning in challenge.</p>

	<p>I'm into the written word (mostly literature/fiction; I have a soft spot for the experimental), computing (natural language processing, complexity theory, machine learning, algorithms, linux and the commandline in general [cough, vim, cough]), philosophy (linguistics, logic, metaphysics), endurance sports (running, swimming, biking, hiking), and music (beat music, Bach).</p>

	<p>I'm going to be pursuing my masters in computer science at the University of Colorado, Boulder in the Fall of 2017. I'm broadly interested in abstract meaning representation and specifically in quantifying style, tracing ideas, and generating text.</p>

    <p>You can email me at <a href="mailto:hunter.wapman@gmail.com">hunter.wapman@gmail.com</a>, check out my github at <a href="https://github.com/hunter-">github.com/hunter-</a>, or find my resume <a href="{{ url_for('resume')}}">here</a>.</p>
</div>
{% endblock content %}
