<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}hunter (verb){% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    {% block style %} {% endblock style %}
</head>
<body>
    <div id="main">
        <div id="nav" class="flex-column">
            <a id="header" href="{{ url_for("index") }}">
                <p class="title">hunter</p>
                <p class="subtitle">(<span>verb</span>)</p>
            </a>
            <hr>
            <div id="kinds" class="flex-column">
                {% with url=url_for('kind', kind='Thoughts'), text='Thoughts' %}
                    {% include "_includes/_navlink.html" %}
                {% endwith %}
                {% with url=url_for('kind', kind='Projects'), text='Projects' %}
                    {% include "_includes/_navlink.html" %}
                {% endwith %}
                {% with url=url_for('kind', kind='Playlists'), text='Playlists' %}
                    {% include "_includes/_navlink.html" %}
                {% endwith %}
            </div>
            <hr>
            <div id="meta" class="flex-column">
                {% with url=url_for('years'), text='Years' %}
                    {% include "_includes/_navlink.html" %}
                {% endwith %}            
                {% with url=url_for('tags'), text='Tags' %}
                    {% include "_includes/_navlink.html" %}
                {% endwith %}            
            </div>
            <hr>
            <div id="about" class="flex-column">
                {% with url=url_for('me'), text='Me' %}
                    {% include "_includes/_navlink.html" %}
                {% endwith %}
            </div>
        </div>
        <div id="content-wrapper" class="flex-column">
            <div class="contrast">
                <div id="page-intro">
                    {% block intro %}
                    <h1>I'm Hunter.</h1> 
                    {% endblock intro %}
                </div>
            </div>
            <p class="spacer"></p>
            <div class="contrast">
                {% block content %}
                <div id="page-body">
                    Niente.
                </div>
                {% endblock content %}
            </div>
        </div>
    </div>
</body>
</html>