<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}hunter (verb){% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    {% block style %} {% endblock style %}
</head>
<body>
    <div id="main">
		<div id="nav-wrapper" class="flex-column">
			<div id="nav" class="flex-column">
				<a id="header" href="{{ url_for("index") }}">
					<p class="title">hunter</p>
					<p class="subtitle">(<span>verb</span>)</p>
				</a>
				{% block navlinks %}
				<hr>
				<div id="kinds" class="flex-column">
					{% for kind in kinds %}
						{% with url=url_for('kind', kind=kind), text=kind %}
							{% include "_includes/_navlink.html" %}
						{% endwith %}
					{% endfor %}
				</div>
				<hr>
				<div id="metas" class="flex-column">
					{% for meta in metas %}
						{% with url=url_for(meta|lower), text=meta %}
								{% include "_includes/_navlink.html" %}
							{% endwith %}
						{% endfor %}
				</div>
				<hr>
				<div id="about" class="flex-column">
					{% with url=url_for('me'), text='Me' %}
						{% include "_includes/_navlink.html" %}
					{% endwith %}
				</div>
				{% endblock navlinks %}
			</div>
		</div>
        <div id="content-wrapper" class="flex-column">
			<div id="page-intro">
				{% block intro %}
					<h1>I'm Hunter.</h1>
					<h3>do and be doing</h3>
				{% endblock intro %}
			</div>

			<div id="header-body-split">
				<hr class="small">
				<hr class="large">
				<hr class="small">
			</div>

			<div id="content">
				{% block content %}
				<div id="page-body">
					Niente.
				</div>
				{% endblock content %}
			</div>
        </div>
		<div id="third-wrapper"></div>
    </div>
</body>
</html>
