<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
@page { size: auto;  margin: 0mm; }

html {
	font-size: 10pt;
	max-width: 800px;
	margin: auto;
}

div#main > div {
	max-width: 90%;
	margin: auto 7.5%;
}

div#about {
	margin-top: 2rem;
	text-align: center;
}
div#about p {
	margin: 0;
}

h1.section-title {
	text-decoration: underline;
	font-weight: bold;
	font-size: 1rem;
	margin: 0 0 .5rem 0;
}

hr {
	margin: 1rem auto;
	width: 70%;
}

p {
	margin: 0;
}

p.blank {
	height: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
}
ul > li {
  text-indent: -2.5rem;
}
ul > li:before {
  content: "–";
  text-indent: -.5rem;
  margin-right: .5rem;
}

</style>
</head>
<body>
    <div id="main">
		<div id="about">
			<p class="name">Hunter Wapman</p>
			<p class="contact">hunter.wapman@gmail.com</p>
			<p class="website"> <a href="hne.golf">hne.golf</a></p>
		</div>
		<hr>
		<div class="education">
			
				<h1 class="section-title">
	EDUCATION
</h1>
			

			
				
					<p class="heading">
	
	<span class="name"><b> University of Colorado, Boulder </b></span>
	
	 | 
		<span class="location">Boulder, CO</span>
	
	
	
	 | 
		<span class="when">2019/01
			
			 -
			 2023/12
			
		</span>
	 
</p>
				

				
					
						<p class="Degree">Doctor of Philosophy, Computer Science</p>
					
						<p class="Advisor">advised by <a href="https://larremorelab.github.io/">Daniel Larremore</a></p>
					
						<p class="Focus">concentration: computational social science, hierarchies, networks</p>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> Santa Fe Institution </b></span>
	
	 | 
		<span class="location">Santa Fe, New Mexico</span>
	
	
	
	 | 
		<span class="when">summer 2019
			
		</span>
	 
</p>
				

				
					
						<p class="Role">Complex Systems Summer School student</p>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> University of Colorado, Boulder </b></span>
	
	 | 
		<span class="location">Boulder, CO</span>
	
	
	
	 | 
		<span class="when">fall 2017
			
			 -
			 summer 2019
			
		</span>
	 
</p>
				

				
					
						<p class="Degree">Master of Science, Computer Science</p>
					
						<p class="Focus">with a focus on Natural Language Processing, Text</p>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> Tufts University, College of Arts and Sciences </b></span>
	
	 | 
		<span class="location">Medford, MA</span>
	
	
	
	 | 
		<span class="when">fall 2011
			
			 -
			 spring 2015
			
		</span>
	 
</p>
				

				
					
						<p class="Degree">Bachelor of Science, Computer Science</p>
					
						<p class="Honors"><i>summa cum laude</i>, Phi Beta Kappa</p>
					
				

				
			
		</div>
		<hr>
		<div class="papers">
			
				<h1 class="section-title">
	PUBLICATIONS
</h1>
			

			
				
					<p class="heading">
	
	<span class="name"><b> Competition in Online Dating Markets </b></span>
	
	
	
	 | 
		<span class="when">2024
			
		</span>
	 
</p>
				
        <p>
          
            <span class="publication-authors">
            
              
<span class="one-line-list">

	
	
		<b>K. Hunter Wapman</b>,
		
	
		Elizabeth Bruch,
		
	
		Daniel B. Larremore
	

</span>
<span class="one-line-list">

            
            </span>
          
        </p>
        
        <p class="publication-journal"><i>in preparation</i></p>
        
        
				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> Gendered hiring and attrition on the path to parity for academic faculty </b></span>
	
	
	
	 | 
		<span class="when">20240110
			
		</span>
	 
</p>
				
        <p>
          
            <span class="publication-authors">
            
              
<span class="one-line-list">

	
	
		Nicholas LaBerge,
		
	
		<b>K. Hunter Wapman</b>,
		
	
		Aaron Clauset,
		
	
		Daniel B. Larremore
	

</span>
<span class="one-line-list">

            
            </span>
          
        </p>
        
        <p class="publication-journal"><i>in preparation</i></p>
        
        
        <p class="publication-extra"><a href="https://https://elifesciences.org/reviewed-preprints/93755v1">link</a></p>
        
				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> Gender and retention patterns among U.S. faculty </b></span>
	
	
	
	 | 
		<span class="when">20231020
			
		</span>
	 
</p>
				
        <p>
          
            <span class="publication-authors">
            
              
<span class="one-line-list">

	
	
		Katie Spoon,
		
	
		Nicholas LaBerge,
		
	
		<b>K. Hunter Wapman</b>,
		
	
		Samual Zhang,
		
	
		Allison Morgan,
		
	
		Mirta Galesic,
		
	
		Bailey Fosdick,
		
	
		Daniel B. Larremore,
		
	
		Aaron Clauset
	

</span>
<span class="one-line-list">

            
            </span>
          
        </p>
        
        <p class="publication-journal"><i>Science Advances</i></p>
        
        
        <p class="publication-extra"><a href="https://https://www.science.org/doi/10.1126/sciadv.adi2205">link</a></p>
        
				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> Subfield prestige and gender inequality among US computing faculty </b></span>
	
	
	
	 | 
		<span class="when">20221122
			
		</span>
	 
</p>
				
        <p>
          
            <span class="publication-authors">
            
              
<span class="one-line-list">

	
	
		Nicholas LaBerge,
		
	
		<b>K. Hunter Wapman</b>,
		
	
		Allison C. Morgan,
		
	
		Sam Zhang,
		
	
		Daniel B. Larremore,
		
	
		Aaron Clauset
	

</span>
<span class="one-line-list">

            
            </span>
          
        </p>
        
        <p class="publication-journal"><i>Communications of the ACM</i></p>
        
        
        <p class="publication-extra"><a href="https://https://dl.acm.org/doi/pdf/10.1145/3535510">link</a></p>
        
				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> Labor advantages drive the greater productivity of faculty at elite universities </b></span>
	
	
	
	 | 
		<span class="when">20221118
			
		</span>
	 
</p>
				
        <p>
          
            <span class="publication-authors">
            
              
<span class="one-line-list">

	
	
		Sam Zhang,
		
	
		<b>K. Hunter Wapman</b>,
		
	
		Daniel B. Larremore,
		
	
		Aaron Clauset
	

</span>
<span class="one-line-list">

            
            </span>
          
        </p>
        
        <p class="publication-journal"><i>Science Advances</i></p>
        
        
        <p class="publication-extra"><a href="https://https://www.science.org/doi/10.1126/sciadv.abq7056">link</a></p>
        
				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> Quantifying hierarchy and dynamics in US faculty hiring and retention </b></span>
	
	
	
	 | 
		<span class="when">20220921
			
		</span>
	 
</p>
				
        <p>
          
            <span class="publication-authors">
            
              
<span class="one-line-list">

	
	
		<b>K. Hunter Wapman</b>,
		
	
		Sam Zhang Aaron Clauset,
		
	
		Daniel B. Larremore
	

</span>
<span class="one-line-list">

            
            </span>
          
        </p>
        
        <p class="publication-journal"><i>Nature</i></p>
        
        
        <p class="publication-extra"><a href="https://https://www.nature.com/articles/s41586-022-05222-x">link</a></p>
        
				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> webweb: a tool for creating, displaying, and sharing interactive network visualizations on the web </b></span>
	
	
	
	 | 
		<span class="when">2019
			
		</span>
	 
</p>
				
        <p>
          
            <span class="publication-authors">
            
              
<span class="one-line-list">

	
	
		<b>K. Hunter Wapman</b>,
		
	
		Daniel B. Larremore
	

</span>
<span class="one-line-list">

            
            </span>
          
        </p>
        
        <p class="publication-journal"><i>Journal of Open Source Software</i></p>
        
        
        <p class="publication-extra"><a href="https://joss.theoj.org/papers/10.21105/joss.01458#">link</a></p>
        
				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> Device-Agnostic Indoor Positioning for Mobile Phones </b></span>
	
	
	
	 | 
		<span class="when">December 2015
			
		</span>
	 
</p>
				
        <p>
          
            <span class="publication-authors">
            
              
<span class="one-line-list">

	
	
		Brett Fischler*,
		
	
		Daniel Griffin*,
		
	
		Tyler Lubeck*,
		
	
		<b>K. Hunter Wapman</b>*,
		
	
		Mai Vu
	

</span>
<span class="one-line-list">

            
            </span>
          
        </p>
        
        <p class="publication-journal"><i>2015 IEEE 26th Annual International Symposium on Personal, Indoor, and Mobile Radio Communications (PIMRC)</i></p>
        
        
        <p class="publication-extra"><a href="https://https://ieeexplore.ieee.org/document/7343660">link</a></p>
        
				
			
      <br>
      <p>* the authors contributed equally</p
		</div>
		<hr>
		<div class="experience">
			
				<h1 class="section-title">
	EXPERIENCE
</h1>
			

			
				
					<p class="heading">
	
		<span class="position"><b>Visiting Research Assistant</b></span>
	 | 
	
	<span class="name"><b> University of Michigan, Ann Arbor </b></span>
	
	 | 
		<span class="location">Ann Arbor, MI</span>
	
	
	
	 | 
		<span class="when">2020/07
			
			 -
			 present
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			for <a href="https://mhbsd.net/">Elizabeth Bruch</a>

		</li>
	
		<li>
			researching preference hierarchies in online dating

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
		<span class="position"><b>Research Assistant</b></span>
	 | 
	
	<span class="name"><b> University of Colorado, Boulder </b></span>
	
	 | 
		<span class="location">Boulder, CO</span>
	
	
	
	 | 
		<span class="when">spring 2019
			
			 -
			 fall 2023
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			for Daniel Larremore

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
		<span class="position"><b>Teaching Assistant</b></span>
	 | 
	
	<span class="name"><b> University of Colorado, Boulder </b></span>
	
	 | 
		<span class="location">Boulder, CO</span>
	
	
	
	 | 
		<span class="when">fall 2019
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			for Daniel Larremore's Network Analysis and Modeling class

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
		<span class="position"><b>Research Assistant</b></span>
	 | 
	
	<span class="name"><b> University of Colorado, Boulder </b></span>
	
	 | 
		<span class="location">Boulder, CO</span>
	
	
	
	 | 
		<span class="when">2018/01
			
			 -
			 2018/08
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			for <a href="https://chenhaot.com/">Chenhao Tan</a>

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
		<span class="position"><b>Software Developer</b></span>
	 | 
	
	<span class="name"><b> athenahealth </b></span>
	
	 | 
		<span class="location">Watertown, MA</span>
	
	
	
	 | 
		<span class="when">2015/08
			
			 -
			 2017/06
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			backend engineering work to evaluate patient outcomes across the electronic health records platform

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
		<span class="position"><b>summer researcher</b></span>
	 | 
	
	<span class="name"><b> Tufts University </b></span>
	
	 | 
		<span class="location">Medford, MA</span>
	
	
	
	 | 
		<span class="when">summer 2014
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			worked on computational complexity in music with Anselm Blumer

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
		<span class="position"><b>Data Analyst</b></span>
	 | 
	
	<span class="name"><b> Kennet Partners </b></span>
	
	 | 
		<span class="location">San Mateo, CA</span>
	
	
	
	 | 
		<span class="when">summer 2011
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			interned at a Hedge Fund researching bootstrapped companies for investment potential

		</li>
	
</ul>
					
				

				
			
		</div>
		<hr>
		<div class="projects-and-software">
			
				<h1 class="section-title">
	PROJECTS
</h1>
			

			
				
					<p class="heading">
	
	<span class="name"><b> Infinite Jest Networks </b></span>
	
	 | 
		<span class="location">Boulder, CO</span>
	
	
	
	 | 
		<span class="when">fall 2018
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			exploring David Foster Wallace's Infinite Jest through temporal character co-occurrence networks

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> webweb </b></span>
	
	 | 
		<span class="location">Boulder, CO</span>
	
	
	
	 | 
		<span class="when">fall 2018
			
			 -
			 present
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			a tool for creating embeddable visualizations from python/Matlab 

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> textual style over time </b></span>
	
	 | 
		<span class="location">Boulder, CO</span>
	
	
	
	 | 
		<span class="when">fall 2018
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			how does writing style change?

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> wisecrackings.com </b></span>
	
	 | 
		<span class="location">Boulder, CO</span>
	
	
	
	 | 
		<span class="when">spring 2018
			
			 -
			 fall 2018
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			a website for movie jokes and quotes built to create a dataset for use in a machine-in-the-loop humor assistant

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> pun detection and location </b></span>
	
	 | 
		<span class="location">Boulder, CO</span>
	
	
	
	 | 
		<span class="when">fall 2017
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			a suite of classifiers to determine if a sentence contains a pun and, if so, which word within that sentence is the "pun word"

		</li>
	
</ul>
					
				

				
			
		</div>
		<hr>
		<div class="talks">
			
				<h1 class="section-title">
	TALKS AND LECTURES
</h1>
			

			
				
					<p class="heading">
	
	<span class="name"><b> Faculty Hiring in the U.S. Academic Labor Market </b></span>
	
	
	
	 | 
		<span class="when">July 2021
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			for Network Science 2021

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> The Structure and Construction of the U.S. Academic System </b></span>
	
	
	
	 | 
		<span class="when">July 2020
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			for the International Conference on Computational Social Science (IC2S2)

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> guest lecture: Sampling Networks </b></span>
	
	
	
	 | 
		<span class="when">October 2019
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			for the Computer Science 5351, Network Analysis and Modeling at the University of Colorado, Boulder

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> guest lecture: Configuration Model </b></span>
	
	
	
	 | 
		<span class="when">September 2019
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			for the Computer Science 5351, Network Analysis and Modeling at the University of Colorado, Boulder

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> how to do things with words </b></span>
	
	
	 | 
         <span class="link"><a href="https://hneutr.github.io/slides/how-to-do-things-with-words.pdf">slides</a></span>
	
	
	 | 
		<span class="when">April 2019
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			for the University of Colorado, Boulder's Data Science course

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> narratives, networks, and art </b></span>
	
	
	 | 
         <span class="link"><a href="https://hneutr.github.io/slides/narrative-networks.pdf">slides</a></span>
	
	
	 | 
		<span class="when">January 2019
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			for the University of Colorado, Boulder's Graduate Research Exposition

		</li>
	
</ul>
					
				

				
			
		</div>
		<hr>
    <div class="posters-and-presentations">
			
				<h1 class="section-title">
	POSTERS AND PRESENTATIONS
</h1>
			
			
				
					<p class="heading">
	
	<span class="name"><b> Revealing Narrative Structure through Temporal Co-occurrence Networks </b></span>
	
	
	
	 | 
		<span class="when">2019
			
		</span>
	 
</p>
				
				
          
            
<span class="one-line-list">

	
	
		K. Hunter Wapman,
		
	
		Daniel B. Larremore
	

</span>
<span class="one-line-list">

          
				
				
					
						<ul>
	
		<li>
			Network Science 2019
		</li>
	
		<li>
			Graduate Research Exposition, University of Colorado, Boulder
		</li>
	
</ul>
					
				
      
				
					<p class="heading">
	
	<span class="name"><b> Device-Agnostic Indoor Positioning for Mobile Phones </b></span>
	
	
	
	 | 
		<span class="when">Spring 2015
			
		</span>
	 
</p>
				
				
				
					
						<ul>
	
		<li>
			PIMRC ‘15
		</li>
	
		<li>
			Tufts University Undergraduate Research & Scholarship Symposium
		</li>
	
		<li>
			New England Undergraduate Computing Symposium
		</li>
	
</ul>
					
				
      
    </div>
		<hr>
		<div class="professional">
			
				<h1 class="section-title">
	PROFESSIONAL SERVICE
</h1>
			

			
				
					<p class="heading">
	
	<span class="name"><b> the Society of Young Network Scientists </b></span>
	
	
	
	 | 
		<span class="when">August 2019
			
			 -
			 Fall 2023
			
		</span>
	 
</p>
				
				
				
        <p>Member of the Board (Membership Officer)</p>
				
				
					<p class="blank">
				
      
				
					<p class="heading">
	
	<span class="name"><b> the Colorado chapter of the Society of Young Network Scientists </b></span>
	
	
	
	 | 
		<span class="when">October 2019
			
		</span>
	 
</p>
				
				
				
        <p>Co-founder</p>
				
				
      
		</div>
		<hr>
		<div class="activities">
			
				<h1 class="section-title">
	ACTIVITIES
</h1>
			

			
				
					
<p class="one-line-list">

	
	<b>Awards </b>
	
	
		2023: Computer Science Department Research Paper Award
	

</p>

				
			
				
					
<p class="one-line-list">

	
	<b>Half Ironman </b>
	
	
		2018
	

</p>

				
			
				
					
<p class="one-line-list">

	
	<b>Marathon </b>
	
	
		2018,
		
	
		2016
	

</p>

				
			
				
					
<p class="one-line-list">

	
	<b>Olympic Triathlon </b>
	
	
		2017
	

</p>

				
			
				
					
<p class="one-line-list">

	
	<b>Half Marathon </b>
	
	
		2014,
		
	
		2015,
		
	
		2016,
		
	
		2017
	

</p>

				
			
				
					
<p class="one-line-list">

	
	<b>Classical Piano </b>
	
	
		2011 - 2015
	

</p>

				
			
				
					
<p class="one-line-list">

	
	<b>Edited Open Source Math and Physics Textbooks for the CK12 Foundation </b>
	
	
		2008,
		
	
		2009
	

</p>

				
			
				
					
<p class="one-line-list">

	
	<b>Black Belt in Tae Kwon Do </b>
	
	
		2007
	

</p>

				
			
				
					
<p class="one-line-list">

	
	<b>Community Service </b>
	
	
		in Kedougou, Senegal and Darjeeling, India
	

</p>

				
			
		</div>
  </div>
</body>
</html>