<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
@page { size: auto;  margin: 0mm; }

html {
	font-size: 10pt;
	max-width: 800px;
	margin: auto;
}

div#main > div {
	max-width: 90%;
	margin: auto 7.5%;
}

div#about {
	margin-top: 2rem;
	text-align: center;
}
div#about p {
	margin: 0;
}

h1.section-title {
	text-decoration: underline;
	font-weight: bold;
	font-size: 1rem;
	margin: 0 0 .5rem 0;
}

hr {
	margin: 1rem auto;
	width: 70%;
}

p {
	margin: 0;
}

p.blank {
	height: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
}
ul > li {
  text-indent: -2.5rem;
}
ul > li:before {
  content: "–";
  text-indent: -.5rem;
  margin-right: .5rem;
}

</style>
</head>
<body>
    <div id="main">
		<div id="about">
			<p class="name">Kenneth Hunter Wapman</p>
			<p class="address">3460 Madison Avenue, Unit 2, Boulder, CO 80303</p>
			<p class="contact">(650) 644-6608 | hunter.wapman@gmail.com</p>
			<p class="website"> <a href="hneutr.github.io">hneutr.github.io</a></p>
		</div>
		<hr>
		<div class="education">
			
				<h1 class="section-title">
	EDUCATION
</h1>
			

			
				
					<p class="heading">
	
	<span class="name"><b> University of Colorado, Boulder </b></span>
	
	 | 
		<span class="location">Boulder, CO</span>
	
	
	
	 | 
		<span class="when">January 2019
			
			 -
			 present
			
		</span>
	 
</p>
				

				
					
            
						<p class="Degree">Degree: PhD Student, Computer Science</p>
            
					
            
						<p class="Focus">Focus: Networks, Computational Social Science, Text</p>
            
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> Santa Fe Institution </b></span>
	
	 | 
		<span class="location">Santa Fe, New Mexico</span>
	
	
	
</p>
				

				
					
            
						<p class="Role">Complex Systems Summer School</p>
            
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> University of Colorado, Boulder </b></span>
	
	 | 
		<span class="location">Boulder, CO</span>
	
	
	
	 | 
		<span class="when">August 2017
			
			 -
			 August 2019
			
		</span>
	 
</p>
				

				
					
            
						<p class="Degree">Degree: Master of Science, Computer Science</p>
            
					
            
						<p class="Focus">Focus: Networks, Computational Social Science, Text</p>
            
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> Tufts University, College of Arts and Sciences </b></span>
	
	 | 
		<span class="location">Medford, MA</span>
	
	
	
	 | 
		<span class="when">September 2011
			
			 -
			 May 2015
			
		</span>
	 
</p>
				

				
					
            
						<p class="Degree">Degree: Bachelor of Science, Computer Science</p>
            
					
            
						<p class="Honors">Honors: <i>summa cum laude</i>, Phi Beta Kappa</p>
            
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> Stanford University, School of Engineering </b></span>
	
	 | 
		<span class="location">Palo Alto, CA</span>
	
	
	
	 | 
		<span class="when">Summer 2013
			
		</span>
	 
</p>
				

				
					
            
						<p class="Role">Summer Computer Science Student</p>
            
					
				

				
			
		</div>
		<hr>
		<div class="experience">
			
				<h1 class="section-title">
	EXPERIENCE
</h1>
			

			
				
					<p class="heading">
	
		<span class="position"><b>Research Assistant</b></span>
	 | 
	
	<span class="name"><b> University of Colorado, Boulder </b></span>
	
	 | 
		<span class="location">Boulder, CO</span>
	
	
	
	 | 
		<span class="when">May 2018
			
			 -
			 August 2018
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			built and maintained wisecrackings.com, a website made to gather a dataset for a computational humor project pursued with Chenhao Tan

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
		<span class="position"><b>Software Developer</b></span>
	 | 
	
	<span class="name"><b> athenahealth </b></span>
	
	 | 
		<span class="location">Watertown, MA</span>
	
	
	
	 | 
		<span class="when">August 2015
			
			 -
			 June 2017
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			back- and front-end work on a generalized analysis engine used for reporting patient-level results

		</li>
	
		<li>
			led development effort to support hospital workflows

		</li>
	
		<li>
			optimization and performance work to support millions of requests per day

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
		<span class="position"><b>Independent Researcher</b></span>
	 | 
	
	<span class="name"><b> Tufts University </b></span>
	
	 | 
		<span class="location">Medford, MA</span>
	
	
	
	 | 
		<span class="when">Summer 2014
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			worked on a computational approach for the analysis of complexity in music with Professor Anselm Blumer

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
		<span class="position"><b>Data Analyst</b></span>
	 | 
	
	<span class="name"><b> Kennet Partners </b></span>
	
	 | 
		<span class="location">San Mateo, CA</span>
	
	
	
	 | 
		<span class="when">Summer 2011
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			Researched companies in Healthcare, Information Technology, and Software-as-a-Service for investment potential

		</li>
	
</ul>
					
				

				
			
		</div>
		<hr>
		<div class="papers">
			
				<h1 class="section-title">
	PUBLICATIONS
</h1>
			

			
				
					<p class="heading">
	
	<span class="name"><b> webweb a tool for creating, displaying, and sharing interactive network visualizations on the web </b></span>
	
	
	
	 | 
		<span class="when">2019
			
		</span>
	 
</p>
				
        <p>
          
            <span class="publication-authors">
            
              
<span class="one-line-list">

	
	
		K. Hunter Wapman,
		
	
		Daniel B. Larremore
	

</span>
<span class="one-line-list">

            
            </span>
          
          
            <span class="publication-journal">Journal of Open Source Software - doi.org/10.21105/joss.01458</span>
          
        </p>
        
        <p class="publication-extra"><a href="https://joss.theoj.org/papers/10.21105/joss.01458#">link</a></p>
        
			
				
					<p class="heading">
	
	<span class="name"><b> Device-Agnostic Indoor Positioning for Mobile Phones </b></span>
	
	
	
	 | 
		<span class="when">Fall 2014
			
			 -
			 Spring 2015
			
		</span>
	 
</p>
				
        <p>
          
          
        </p>
        
			
		</div>
		<hr>
    <div class="posters-and-presentations">
			
				<h1 class="section-title">
	POSTERS AND PRESENTATIONS
</h1>
			
			
				
					<p class="heading">
	
	<span class="name"><b> Revealing Narrative Structure through Temporal Co-occurrence Networks </b></span>
	
	
	
	 | 
		<span class="when">2019
			
		</span>
	 
</p>
				
				
          
            
<span class="one-line-list">

	
	
		K. Hunter Wapman,
		
	
		Daniel B. Larremore
	

</span>
<span class="one-line-list">

          
				
				
					
						<ul>
	
		<li>
			Network Science 2019
		</li>
	
		<li>
			Graduate Research Exposition, University of Colorado, Boulder
		</li>
	
</ul>
					
				
      
				
					<p class="heading">
	
	<span class="name"><b> Device-Agnostic Indoor Positioning for Mobile Phones </b></span>
	
	
	
	 | 
		<span class="when">Spring 2015
			
		</span>
	 
</p>
				
				
				
					
						<ul>
	
		<li>
			PIMRC ‘15
		</li>
	
		<li>
			Tufts University Undergraduate Research & Scholarship Symposium
		</li>
	
		<li>
			New England Undergraduate Computing Symposium
		</li>
	
</ul>
					
				
      
    </div>
		<hr>
    <div class="talks">
			
				<h1 class="section-title">
	LECTURES AND TALKS
</h1>
			
			
				
					<p class="heading">
	
	<span class="name"><b> Guest Lecture: Sampling Networks </b></span>
	
	
	
	 | 
		<span class="when">October 2019
			
		</span>
	 
</p>
				
      
				
					<p class="heading">
	
	<span class="name"><b> Guest Lecture: Configuration Model </b></span>
	
	
	
	 | 
		<span class="when">September 2019
			
		</span>
	 
</p>
				
      
				
					<p class="heading">
	
	<span class="name"><b> how to do things with words </b></span>
	
	
	 | 
         <span class="link"><a href="https://hneutr.github.io/slides/how-to-do-things-with-words.pdf">slides</a></span>
	
	
	 | 
		<span class="when">April 2019
			
		</span>
	 
</p>
				
      
				
					<p class="heading">
	
	<span class="name"><b> narratives, networks, and art </b></span>
	
	
	 | 
         <span class="link"><a href="https://hneutr.github.io/slides/narrative-networks.pdf">slides</a></span>
	
	
	 | 
		<span class="when">January 2019
			
		</span>
	 
</p>
				
      
    </div>
		<hr>
		<div class="projects-and-software">
			
				<h1 class="section-title">
	PROJECTS
</h1>
			

			
				
					<p class="heading">
	
	<span class="name"><b> Infinite Jest Networks </b></span>
	
	 | 
		<span class="location">Boulder, CO</span>
	
	
	
	 | 
		<span class="when">Fall 2018
			
			 -
			 Fall 2018
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			extracted temporal networks from David Foster Wallace's Infinite Jest and explored their network properties

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> webweb </b></span>
	
	 | 
		<span class="location">Boulder, CO</span>
	
	
	
	 | 
		<span class="when">Fall 2018
			
			 -
			 present
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			added features and created documentation for Dan Larremore's webweb, an interactive network visualization tool

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> stylistic drift over time </b></span>
	
	 | 
		<span class="location">Boulder, CO</span>
	
	
	
	 | 
		<span class="when">Fall 2018
			
			 -
			 Fall 2018
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			built model to predict published date of New York Times articles

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> creative writing assistant data collection </b></span>
	
	 | 
		<span class="location">Boulder, CO</span>
	
	
	
	 | 
		<span class="when">Spring 2018
			
			 -
			 Fall 2018
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			built wisecrackings.com, a website for movie jokes and quotes aimed toward creating a dataset to be used for a machine-in-the-loop humor assistant

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> pun detection </b></span>
	
	 | 
		<span class="location">Boulder, CO</span>
	
	
	
	 | 
		<span class="when">Fall 2017
			
			 -
			 Fall 2017
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			built a classifier to detect homographic and heterographic puns

		</li>
	
</ul>
					
				

				
			
		</div>
		<hr>
		<div class="talks">
			
				<h1 class="section-title">
	TALKS
</h1>
			

			
				
					<p class="heading">
	
	<span class="name"><b> Guest Lecture: Sampling Networks </b></span>
	
	
	
	 | 
		<span class="when">October 2019
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			for the Computer Science 5351, Network Analysis and Modeling at the University of Colorado, Boulder

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> Guest Lecture: Configuration Model </b></span>
	
	
	
	 | 
		<span class="when">September 2019
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			for the Computer Science 5351, Network Analysis and Modeling at the University of Colorado, Boulder

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> how to do things with words </b></span>
	
	
	 | 
         <span class="link"><a href="https://hneutr.github.io/slides/how-to-do-things-with-words.pdf">slides</a></span>
	
	
	 | 
		<span class="when">April 2019
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			for the University of Colorado, Boulder's Data Science course

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	
	<span class="name"><b> narratives, networks, and art </b></span>
	
	
	 | 
         <span class="link"><a href="https://hneutr.github.io/slides/narrative-networks.pdf">slides</a></span>
	
	
	 | 
		<span class="when">January 2019
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			for the University of Colorado, Boulder's Graduate Research Exposition

		</li>
	
</ul>
					
				

				
			
		</div>
		<hr>
		<div class="technologies">
			
				<h1 class="section-title">
	TECHNOLOGIES
</h1>
			

			
				
<p class="one-line-list">

	
	
		Python,
		
	
		Perl,
		
	
		Javascript,
		
	
		C,
		
	
		C++,
		
	
		Java,
		
	
		Viml,
		
	
		Django,
		
	
		Flask,
		
	
		Jekyll,
		
	
		d3,
		
	
		Node,
		
	
		React,
		
	
		SQL,
		
	
		MongoDB,
		
	
		AWS,
		
	
		spark,
		
	
		hadoop
	

</p>

			
		</div>
		<hr>
		<div class="activities">
			
				<h1 class="section-title">
	ACTIVITIES
</h1>
			

			
				
					
<p class="one-line-list">

	
	<b>Half Ironman </b>
	
	
		2018
	

</p>

				
			
				
					
<p class="one-line-list">

	
	<b>Marathon </b>
	
	
		2018,
		
	
		2016
	

</p>

				
			
				
					
<p class="one-line-list">

	
	<b>Olympic Triathlon </b>
	
	
		2017
	

</p>

				
			
				
					
<p class="one-line-list">

	
	<b>Half Marathon </b>
	
	
		2014,
		
	
		2015,
		
	
		2016,
		
	
		2017
	

</p>

				
			
				
					
<p class="one-line-list">

	
	<b>Classical Piano </b>
	
	
		2011 - 2015
	

</p>

				
			
				
					
<p class="one-line-list">

	
	<b>Edited Open Source Math and Physics Textbooks for the CK12 Foundation </b>
	
	
		2008,
		
	
		2009
	

</p>

				
			
				
					
<p class="one-line-list">

	
	<b>Black Belt in Tae Kwon Do </b>
	
	
		2007
	

</p>

				
			
				
					
<p class="one-line-list">

	
	<b>Community Service </b>
	
	
		in Kedougou, Senegal and Darjeeling, India
	

</p>

				
			
		</div>
    </div>
</body>
</html>