{% extends 'base.html' %}
{% from '_macros/paginate.html' import paginate with context %}

{% block title %}
    {{ kind }} | hunter (verb)
{% endblock title %}

{% block intro %}
<h1><a href="{{ url_for("kind", kind=kind) }}">{{ kind }}</a></h1>
{% if subkinds %}
<h3>
{% for subkind in subkinds %}
    <a href="{{ url_for("sub_kind", kind=kind, subkind_slug=subkind|sluggify_subkind)}}">{{subkind}}</a>
    {% if not loop.last %},{% endif %}
{% endfor %}
</h3>
{% endif %}
{% endblock intro %}

{% block content %}
    {% with pages=pages, nokind=True %}
        {% include "_includes/_pagelist.html" %}
    {% endwith %}

    {{ paginate(pagination) }}    
{% endblock content %}
