<div id="page-body">
    <p>My name's (Kenneth) Hunter (Wapman). I dig doing; I'm into understanding.</p>
        
    <p>I'm a graduate student in Computer Science at the University of Colorado, Boulder; I work with <a href="http://danlarremore.com">Dan Larremore</a>.</p> 
    <p>Most of my research is in modelling human behavior and quantifying the structure and complexity of art.</p>

    <p>I also spend time writing, climbing, and running.</p>

    <p>Words are cool, vim is too.</p>

    <p>Hit me up if you wanna talk about Bosch.</p>
    <ul>
        <li><a href="mailto:hunter.wapman@gmail.com">hunter.wapman@gmail.com</a></li>
        <li><a href="https://github.com/hneutr">github.com/hneutr</a></li>
        <li><a href="{{ url_for('cv')}}">cv</a></li>
    </ul>
</div>
