<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hunter's Resume</title>
	<style>

html {
	font-size: 10pt;
	max-width: 800px;
	margin: auto;
}

div#main > div {
	max-width: 90%;
	margin: auto 7.5%;
}

div#about {
	margin-top: 2rem;
	text-align: center;
}
div#about p {
	margin: 0;
}

h1.section-title {
	text-decoration: underline;
	font-weight: bold;
	font-size: 1rem;
	margin: 0 0 .5rem 0;
}

hr {
	margin: 1rem auto;
	width: 70%;
}

p {
	margin: 0;
}

p.blank {
	height: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
}
ul > li {
  text-indent: -2.5rem;
}
ul > li:before {
  content: "–";
  text-indent: -.5rem;
  margin-right: .5rem;
}

</style>
</head>
<body>
    <div id="main">
		<div id="about">
			<p class="name">Kenneth Hunter Wapman</p>
			<p class="address">2900 Aurora Avenue Unit 127, Boulder, CO 80303</p>
			<p class="contact">(650) 644-6608 | hunter.wapman@gmail.com</p>
			<p class="website"> <a href="hunter-.github.io">hunter-.github.io</a></p>
		</div>
		<hr>
		<div class="education">
			
				<h1 class="section-title">
	EDUCATION
</h1>
			

			
				
					<p class="heading">
	<span class="name"><b> University of Colorado, Boulder </b></span>
	
	 | 
		<span class="location">Boulder, CO</span>
	
	
	 | 
		<span class="when">August 2017
			
			 -
			 present
			
		</span>
	 
</p>
				

				
					
						<p class="Degree">Degree: Masters in Computer Science</p>
					
						<p class="Focus">Focus: Natural Language Processing</p>
					
						<p class="Relevant Coursework">Relevant Coursework: Machine Learning, Natural Language Processing, Morpholgy & Syntax, Object-Oriented Analysis and Design
</p>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	<span class="name"><b> Tufts University, College of Arts and Sciences </b></span>
	
	 | 
		<span class="location">Medford, MA</span>
	
	
	 | 
		<span class="when">September 2011
			
			 -
			 May 2015
			
		</span>
	 
</p>
				

				
					
						<p class="Degree">Degree: Bachelor of Science in Computer Science</p>
					
						<p class="GPA">GPA: 3.91</p>
					
						<p class="Honors">Honors: <i>summa cum laude</i>, Phi Beta Kappa</p>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	<span class="name"><b> Stanford University, School of Engineering </b></span>
	
	 | 
		<span class="location">Palo Alto, CA</span>
	
	
	 | 
		<span class="when">Summer 2013
			
		</span>
	 
</p>
				

				
					
						<p class="Role">Role: Summer Computer Science Student</p>
					
						<p class="GPA">GPA: 4.0</p>
					
						<p class="Relevant Coursework">Relevant Coursework: Design and Analysis of Algorithms</p>
					
				

				
			
		</div>
		<hr>
		<div class="experience">
			
				<h1 class="section-title">
	EXPERIENCE
</h1>
			

			
				
					<p class="heading">
	<span class="name"><b> athenahealth </b></span>
	
	 | 
		<span class="location">Watertown, MA</span>
	
	
	 | 
		<span class="when">August 2015
			
			 -
			 June 2017
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			Back- and Front-end work on the Quality Engine, a generalizable analysis engine used to report patient-level results

		</li>
	
		<li>
			Led development effort to support hospital workflows

		</li>
	
		<li>
			Optimization and performance work to support millions of requests per day

		</li>
	
		<li>
			Data collection and aggregation across the athenahealth platform to drive Quality Engine results

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	<span class="name"><b> Tufts University </b></span>
	
	 | 
		<span class="location">Medford, MA</span>
	
	
	 | 
		<span class="when">Summer 2014
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			Worked on a computational approach for the analysis of complexity in music with Professor Anselm Blumer

		</li>
	
		<li>
			Explored current approaches in Artificial Intelligence, Psychology, Music Theory and Digital Signal Processing

		</li>
	
		<li>
			Used the aubio library and the EchoNest API to extract tonal and metrical information from digital sources

		</li>
	
</ul>
					
				

				
					<p class="blank">
				
			
				
					<p class="heading">
	<span class="name"><b> Kennet Partners </b></span>
	
	 | 
		<span class="location">San Mateo, CA</span>
	
	
	 | 
		<span class="when">Summer 2011
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			Researched companies in Healthcare, Information Technology, and Software-as-a-Service for investment potential

		</li>
	
</ul>
					
				

				
			
		</div>
		<hr>
		<div class="papers">
			
				<h1 class="section-title">
	PAPERS
</h1>
			

			
				
					<p class="heading">
	<span class="name"><b> Device-Agnostic Indoor Positioning for Mobile Phones </b></span>
	
	
	 | 
		<span class="when">Fall 2014
			
			 -
			 Spring 2015
			
		</span>
	 
</p>
				
				
					
						<ul>
	
		<li>
			Developed a Wi-Fi fingerprint-based indoor positioning system with three other students 

		</li>
	
		<li>
			Designed and implemented two novel distance metrics for the k-nearest neighbors algorithm

		</li>
	
		<li>
			Created an app for Android using a Django server and a PostgreSQL database to share location with friends

		</li>
	
</ul>
					
				
				
					
						<p class="one-line-list">
	
	<b>Presented At: </b>
	
	
		PIMRC ‘15,
		
	
		Tufts University Undergraduate Research & Scholarship Symposium,
		
	
		New England Undergraduate Computing Symposium
	
</p>
					
				
			
		</div>
		<hr>
		<div class="technologies">
			
				<h1 class="section-title">
	TECHNOLOGIES
</h1>
			

			
				<p class="one-line-list">
	
	
		Python,
		
	
		Perl,
		
	
		Javascript,
		
	
		C,
		
	
		C++,
		
	
		Java,
		
	
		Viml,
		
	
		SQL,
		
	
		Flask,
		
	
		Jinja,
		
	
		Node,
		
	
		jQuery,
		
	
		React,
		
	
		MongoDB,
		
	
		Jekyll,
		
	
		EchoNest,
		
	
		Weka
	
</p>
			
		</div>
		<hr>
		<div class="activities">
			
				<h1 class="section-title">
	ACTIVITIES
</h1>
			

			
				
					<p class="one-line-list">
	
	<b>Olympic Triathlon </b>
	
	
		2017
	
</p>
				
			
				
					<p class="one-line-list">
	
	<b>Marathon </b>
	
	
		2016
	
</p>
				
			
				
					<p class="one-line-list">
	
	<b>Half Marathon </b>
	
	
		2014,
		
	
		2015,
		
	
		2016
	
</p>
				
			
				
					<p class="one-line-list">
	
	<b>Classical Piano </b>
	
	
		2011 - present
	
</p>
				
			
				
					<p class="one-line-list">
	
	<b>Edited Open Source Math and Physics Textbooks for the CK12 Foundation </b>
	
	
		2008,
		
	
		2009
	
</p>
				
			
				
					<p class="one-line-list">
	
	<b>Black Belt in Tae Kwon Do </b>
	
	
		2007
	
</p>
				
			
				
					<p class="one-line-list">
	
	<b>Community Service </b>
	
	
		in Kedougou, Senegal and Darjeeling, India
	
</p>
				
			
		</div>
    </div>
</body>
</html>