{% extends 'base.html' %}
{% from '_macros/paginate.html' import paginate with context %}

{% block title %}
    {{ subkind }} - {{ kind }} | hunter (verb)
{% endblock title %}

{% block intro %}
<h1><a href="{{ url_for("sub_kind", kind=kind, subkind_slug=subkind_slug) }}">{{ subkind }}</a></h1>
<h3><a href="{{ url_for("kind", kind=kind) }}">{{ kind }}</a></h3>
{% endblock intro %}

{% block content %}
    {% with pages=pages, nokind=True, nosubkind=True %}
        {% include "_includes/_pagelist.html" %}
    {% endwith %}

    {{ paginate(pagination) }}    
{% endblock content %}
